body{
	background: #f7f7f7;
	font-family: 'Open Sans', Helvetica, Arial, serif;
	padding: 10px;
	font-size:14px;
	font: 10px sans-serif;
}

#wait {
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
}

#wait .message {
	width: 200px;
	margin: 0 auto;
	margin-top: 10%;
}
/* SLIDER */

#slider {
	margin-bottom: 40px;
}

#slider-range {
	border: 1px solid #eee;
	height: 20px;
	margin-top: 10px;
}
#slider_amount {
	text-align: center;
} 

#slider-range .ui-slider-handle {
	height: 20px;
	top: 0px;
	background: #ddd;
	border: none;
	outline:none;
	cursor:pointer;
}

.ui-slider-labels {
	position: relative;
	top: 5px;
	color: gray;
}

.tooltip {
	position: absolute;
	top: -15px;
	left: -20px;
	width: 100px;
}

.ui-slider-label-ticks {
	position: absolute;
	width: 25px;
	text-align: center;
}

/* GRAPH */

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.bar {
fill: steelblue;
}

.x.axis path {
display: none;
}

.fb-login{
	position: fixed;
	top: 5px;
	right: 5px;
	cursor:pointer;
	color: blue;
}

.multiple-borders {
  box-shadow: 0px 0px 0px 7px #000;
  height: 300px;
}

.status {
	padding:2px 6px 4px 6px; 
	color: #555555; 
	background-color: #eeeeee; 
	border: #dddddd 2px solid;
	display:inline-block;
	font-size: 12px;
}

.link {
	padding:2px 6px 4px 6px; 
	color: #555555; 
	background-color: #eeeeee; 
	border: #dddddd 2px solid;
	display:inline-block;
	font-size: 12px;
}

.title {
	font-weight: bold;
	font-size: 16px;
	margin-top: 10px;
}

.title-video {
	margin-top: 30px;
	font-weight: bold;
	font-size: 16px;
}

.photo {
	height: 200px;
}

video {
	height: 300px;
}

.popular {
	font-size: 20px;
	font-weight: bold;
	color: #161616;
}

img {
	display: block;
	height: 200px;
	margin-top: 15px;
	margin-left: 5px;
	margin-bottom: 30px;
  -webkit-box-shadow:
                0px 0px 0px 5px rgba(0,0,0,0.4),
   
     -moz-box-shadow:
            0px 0px 0px 2px rgba(0,0,0,0.6),
                0px 0px 0px 14px #fff,
                0px 0px 0px 18px rgba(0,0,0,0.2),
                6px 6px 8px 17px #555;
   
          box-shadow:
                0px 0px 0px 5px #c6c6c6;
}