body{
	background: #f7f7f7;
	font-family: Helvetica, Arial, serif;
	padding: 10px;
	font-size:12px;
	color: #1c1c1c;
}

.title {
	font-size: 20px;
}

.time {
	color: rgba(24, 144, 255,0.8);
}

circle { 
cursor: pointer;
}

.d3-tip {
  padding: 5px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  max-width: 300px;
}


.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip img, .d3-tip video {
	width: 300px;
	height: auto;
}


#wait {
	width: 100%;
	height: 100%;
	background: white;
	position: fixed;
	z-index: 1000;

}

.container {
	width: 960px;
	background: white;
	padding: 20px;
	float: left;
	position: relative;
	left: 50%;
	margin-left: -500px;
	margin-top: 22px;
}

#wait .message {
	width: 250px;
	margin: 0 auto;
	margin-top: 10%;
}


#most_popular .title {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	float:left;
}

.popular {
	float: left;
	width: 320px;
}

 /* var colors = {"status": "#6363FF", "photo" : "#63FFCB", "video": "#FF7363"};*/
 .popular.status .title {
 	color:#6363FF;
 }

 .popular.photo .title {
 	color: #63FFCB;
 }

 .popular.video .title {
 	color: #FF7363;
 }

.popular img {
	width: 80%;
	height: auto;
}

.popular video {
	width: 80%;
	height: auto;
}

.popular .popular_content {
	text-align: center;
	clear: both;
}

#basic-info {
	margin-bottom: 10px;
}

#basic-info #legend_div {
	position: absolute;
	right: -100px;
	top: 35px;
}


/* SLIDER */

.ui-widget * {
	border-radius: 0px;
}

#slider {
	margin-bottom: 20px;
	width: 1000px;
	margin-left: -20px;
	margin-top: -40px;
}

#slider-range {
	border: none;
	height: 30px;
	margin-top: 10px;
	background: #eee;
}
#slider_amount {
	text-align: center;
} 

#slider-range .ui-slider-handle {
	height: 30px;
	top: 0px;
	background: rgba(24, 144, 255,0.4);
	border: none;
	outline:none;
	cursor:pointer;
}

.ui-slider-horizontal .ui-slider-range {
	background: rgba(24, 144, 255,0.1);
}

.ui-slider-labels {
	position: relative;
	top: -15px;
	color: gray;
}

.ui-slider-handle .tooltip {
	position: absolute;
	top: 8px;
	left: 20px;
	color: gray;
}

.ui-slider-label-ticks {
	position: absolute;
	width: 25px;
	text-align: center;
}

/* GRAPH */

.axis path,
.axis line {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.bar {
fill: steelblue;
}

.x.axis path {
display: none;
}

.fb-login{
	position: fixed;
	top: 5px;
	right: 5px;
	cursor:pointer;
	color: blue;
}
